version: '3.8'

services:
  postgres:
    image: timescale/timescaledb:latest-pg15
    container_name: GoMetricsPostgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-pass}
      - POSTGRES_DB=${POSTGRES_DB:-metrics_db}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - GoMetricsNetwork

  kafka:
    image: apache/kafka:latest
    container_name: GoMetricsKafka
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      # ВАЖНО: Меняем localhost на имя контейнера, чтобы Ingestor мог подключиться внутри сети
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://GoMetricsKafka:9092
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
    ports:
      - "${KAFKA_PORT:-9092}:9092"
    networks:
      - GoMetricsNetwork

  redis:
    image: redis:7-alpine
    container_name: GoMetricsRedis
    ports:
      - "6379:6379"
    networks:
      - GoMetricsNetwork

  ingestor:
    build:
      context: .
      dockerfile: services/ingestor/Dockerfile
    container_name: IngestorService
    ports:
      - "50051:50051"  # ИСПРАВЛЕНО: добавлены кавычки и пробел
    environment:
      - GRPC_PORT=:50051
      - KAFKA_ADDR=GoMetricsKafka:9092
      - KAFKA_TOPIC=metrics_raw
    depends_on:
      - kafka
    networks:
      - GoMetricsNetwork
  processor:
    build:
      context: .
      dockerfile: services/processor/Dockerfile
    container_name: ProcessorService
    ports:
      - "2112:2112"   # ← сюда
    environment:
      - PG_DSN=postgres://admin:secret_pass@GoMetricsPostgres:5432/metrics_db?sslmode=disable
      - KAFKA_BROKERS=GoMetricsKafka:9092
      - KAFKA_TOPIC=metrics_raw
      - KAFKA_GROUP_ID=metrics_processor_group_v2
    depends_on:
      - kafka
      - postgres
    networks:
      - GoMetricsNetwork

  prometheus:
    image: prom/prometheus:latest
    container_name: GoMetricsPrometheus
    volumes:
      - ./deployments/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"   # ← prometheus на своём порту
    networks:
      - GoMetricsNetwork

  grafana:
    image: grafana/grafana:latest
    container_name: GoMetricsGrafana
    ports:
      - "3000:3000"
    networks:
      - GoMetricsNetwork
networks:
  GoMetricsNetwork:
    driver: bridge

volumes:
  postgres-data: